<div class="descript job_details_area">
        <div class="container">
            <div class="column">

@foreach (DiplomProba1.Models.Data.Route item in @ViewBag.UserRoute)
{
    <details class="white-bg">
      <summary class="col-lg-12">
          
                    
                    <div class="single_jobs white-bg">
                             <div class="d-flex justify-content-between">
                                    <div class="jobs_left d-flex align-items-center">
                                        
                                        <div class="jobs_conetent">
                                            
                                            <div class="flexwrap links_locat d-flex align-items-center">
                                                <div class="location minwid150">
                                                    <h4> <i class="fa fa-map-marker "></i>Из: @item.BeginRoute </h4>
                                                    <h4> <i class="fa fa-map-marker "></i>В: @item.EndRoute </h4>
                                                </div>

                                                <div class="location">
                                                    <h4> <i class="fa fa-clock-o "></i> Дата: @item.DataRoute</h4>
                                                    <h4> <i class="fa fa-clock-o"></i> Время: @item.TimeRoute</h4>
                                                </div>

                                                <div class="location">
                                                    <h4> <i class="fa fa-clock-o"></i> Цена: @item.Cost ₽</h4>
                                                    <h4> <i class="fa fa-clock-o"></i> Мест: @item.CountPassagir</h4>
                                                </div>
                                                
                                                <div class="location">
                                                    <h4> <i class="fa fa-clock-o"></i>Пассажиров: @item.AllUsersGetRoute().Count()</h4>
                                                </div>

                                                <div class="location">
                                                    <a class="deny_mark max_width" asp-controller="Route" asp-action="OtchetPDFVoditel" asp-route-id="@item.IdRout">Вывести чек</a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    
                                </div>
                                
                                   
                         </div>
          
          
      
      
      
      </summary>
      <div class="job_listing_area">
        <div class="container">
            <div class="job_lists">
                <div class="row">
                    @foreach (DiplomProba1.Models.Data.Userroute user in @item.AllUsersGetUserRoute())
                    {
                        
                    
                    <div class="col-lg-12 col-md-12">
                        <div class="single_jobs white-bg d-flex justify-content-between">
                            <div class="jobs_left d-flex align-items-center">
                                <div class="thumb ">
                                    <img class="DriverPh" src="@user.IdUserNavigation.PhotoUser" alt="Profile Picture">
                                </div>
                                <div class="jobs_conetent">
                                    <a asp-controller="User" asp-action="UserPage" asp-route-id="@user.IdUserNavigation.IdUsers"><h4>@user.IdUserNavigation.Fulname</h4></a>
                                    <div class="flexwrap links_locat d-flex align-items-center">
                                        <div class="location">
                                            <p> <i class="fa fa-map-marker"></i>@user.IdUserNavigation.Estimation / 5</p>
                                            <p> <i class="fa fa-map-marker"></i>Забронировано мест: @user.Bookcount </p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="jobs_right">
                                <div class="apply_now">
                                   <p>Номер телефона: <a  class="deny_mark" style="width: 100%;"> @user.IdUserNavigation.Login </a> </p> 
                                </div>
                            </div>
                        </div>
                    </div>

                    }
                </div>
            </div>
        </div>
    </div>





    </details>
}
</div>
</div>
</div>