<div class="descript job_details_area">
        <div class="container">
            <div class="column">

@foreach (DiplomProba1.Models.Data.Route item in @ViewBag.UserRoute)
{
    <details class="white-bg">
      <summary class="col-lg-12">
          
                    

          
                    

                    <div class="job_lists m-0">
                        <div class="row">
                           
                            
                            <div class="col-lg-12 col-md-12">
                                <div class="single_jobs white-bg d-flex justify-content-between">
                                    <div class="jobs_left d-flex align-items-center">
                                        
                                        <div class="jobs_conetent">
                                            
                                            <div class="flexwrap links_locat d-flex align-items-center">
                                                <div class="location location1">
                                                    <p> <i class="fa fa-map-marker"></i>Из: @item.BeginRoute </p>
                                                    <p> <i class="fa fa-map-marker"></i>В: @item.EndRoute </p>
                                                </div>
                                                <div class="location location1">
                                                    <p> <i class="fa fa-clock-o"></i> Дата: @item.DataRoute</p>
                                                    <p> <i class="fa fa-clock-o"></i> Время: @item.TimeRoute</p>
                                                </div>
                                                <div class="location location1">
                                                    <p> <i class="fa fa-clock-o"></i> Мест: @item.CountPassagir</p>
                                                    <p> <i class="fa fa-clock-o"></i> Цена: @item.Cost ₽</p>
                                                </div>
                                                <div class="location location1">
                                                    <p> <i class="fa fa-clock-o"></i>Всего заявок: @item.UsersGetRoute().Count()</p>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="jobs_right myflex-columnend">
                                        <div class="apply_now date row">
                                            <a class="boxed-btn3">Посмотреть заявки</a>
                                        </div>
                                        <div class="date">
                                            <p>Дата размещениия: @item.DateAddedRoude</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            
                        
                        
                        
                        
                    </div>
                </div>

                    @*<div class="single_jobs white-bg">
                             <div class="d-flex justify-content-between">
                                    <div class="jobs_left d-flex align-items-center">
                                        
                                        <div class="jobs_conetent">
                                            
                                            <div class="links_locat d-flex align-items-center">
                                                <div class="location minwid150">
                                                    <h4> <i class="fa fa-map-marker "></i>Из: @item.BeginRoute </h4>
                                                    <h4> <i class="fa fa-map-marker "></i>В: @item.EndRoute </h4>
                                                </div>
                                                <div class="location">
                                                    <h4> <i class="fa fa-clock-o "></i> Дата: @item.DataRoute</h4>
                                                    <h4> <i class="fa fa-clock-o"></i> Время: @item.TimeRoute</h4>
                                                </div>
                                                <div class="location">
                                                    <h4> <i class="fa fa-clock-o"></i> Цена: @item.Cost ₽</h4>
                                                    <h4> <i class="fa fa-clock-o"></i> Мест: @item.CountPassagir</h4>
                                                </div>
                                                
                                                <div class="location">
                                                    <h4> <i class="fa fa-clock-o"></i>Всего заявок: @item.UsersGetRoute().Count()</h4>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    
                                </div>
                                
                                   
                         </div>*@
          
          
      
      
      
      </summary>
      <div class="job_listing_area">
        <div class="container">
            <div class="job_lists">
                <div class="row">
                    @foreach (DiplomProba1.Models.Data.Userroute userroute in @item.UsersRouteGetRoute())
                    {
                        
                    
                    <div class="col-lg-12 col-md-12">
                        <div class="single_jobs white-bg d-flex justify-content-between">
                            <div class="jobs_left d-flex align-items-center">
                                <div class="thumb ">
                                    <img class="DriverPh" src="@userroute.IdUserNavigation.PhotoUser" alt="Profile Picture">
                                </div>
                                <div class="jobs_conetent">
                                    <a asp-controller="User" asp-action="UserPage" asp-route-id="@userroute.IdUserNavigation.IdUsers"><h4>@userroute.IdUserNavigation.Fulname</h4></a>
                                    <div class="flexwrap links_locat d-flex align-items-center">
                                        <div class="location">
                                            <p> <i class="fa fa-map-marker"></i>@userroute.IdUserNavigation.Estimation / 5</p>
                                            <p> <i class="fa fa-map-marker"></i>Забронировано мест: @userroute.Bookcount </p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="jobs_right">
                                <div class="apply_now">
                                    <a asp-controller="Request" asp-action="Accept" asp-route-idUser="@userroute.IdUserNavigation.IdUsers" asp-route-idroute="@userroute.IdRout" asp-route-idrequest="2" class="deny_mark"> Отказать </a>
                                    <a asp-controller="Request" asp-action="Accept" asp-route-idUser="@userroute.IdUserNavigation.IdUsers" asp-route-idroute="@userroute.IdRout" asp-route-idrequest="1" class="boxed-btn3">Принять</a>
                                </div>
                                <div class="date">
                                    <p>Дата размещениия: 31 января 2020</p>
                                </div>
                            </div>
                        </div>
                    </div>

                    }
                </div>
            </div>
        </div>
    </div>





    </details>
}
</div>
</div>
</div>