@model DiplomProba1.Models.TestImagecs

<header>
        <div class="header-area ">
            <div id="sticky-header" class="main-header-area">
                <div class="container-fluid ">
                    <div class="header_bottom_border">
                        <div class="space-around align-items-center" style="flex-wrap: nowrap;">
                            <div class="col-xl-3 col-lg-2">
                                <div class="logo">
                                    <a asp-controller="Home" asp-action="Index">
                                        <img src="~/img/logo1.png" alt="">
                                    </a>
                                </div>
                            </div>
                            <div class="">
                                    @if(Context.Session.GetString("UserId") != null ){
                                        <div class="btn-group">
                                    <button type="button" class="dropdown-toggle nonecolor" data-bs-toggle="dropdown" aria-expanded="false">

                                        @{
                                         string FormatImage(string a)
                                         {
                                             switch (a.ToUpper())
                                             {
                                                 case "IVBOR":
                                                     return "png";
                                                 case "/9J/4":
                                                     return "jpg";
                                                 default:
                                                     return "png";
                                             }
                                         }

                                        string a = "data:image/+"+FormatImage(@Context.Session.GetString("UserImage").Substring(0, 5)) +";base64," + @Context.Session.GetString("UserImage") ;
                                    } 
                                        <img class="comment_img" src="@a"/>
                                        @if(Context.Session.GetString("CountMess").Trim() != "0"){
                                        <span class="position-absolute  translate-middle badge rounded-pill bg-danger fontsize20">
                                            
                                                @Context.Session.GetString("CountMess").Trim()
                                            
                                       <span class="visually-hidden">unread messages</span>
                                     </span>
                                     }
                                  </button>
                                        <ul class="dropdown-menu dropdown-menu-start pad0 wid300 nonecolor">
                                        <li class="padtop20"><a class="boxed-btn3 dropdown-item selectbtn" asp-area="" asp-controller="User" asp-action="UserProfile">Профиль</a></li>
                                        <li><a class="boxed-btn3 dropdown-item selectbtn" asp-area="" asp-controller="User" asp-action="MessagePage">Входящии (@Context.Session.GetString("CountMess"))</a></li>
                                        <li><hr class="dropdown-divider"></li>
                                        <li><a class="boxed-btn3 exit dropdown-item selectbtn" asp-area="" asp-controller="User" asp-action="LogOut">Выйти из аккаунта</a></li>
                                         </ul>
                                         </div>
                                    }
                                    else{
                                        <div class="Appointment">
                                            <div class="phone_num d-lg-block" style="display:block!important;">
                                                <a class="boxed-btn3" asp-area="" asp-controller="User" asp-action="Aauthorization">Авторизация</a>
                                            </div>
                                            <div class="phone_num d-none d-xl-block">
                                                <a class="navbar-brand boxed-btn3 register" asp-area="" asp-controller="User" asp-action="Registration">Регистрация</a>
                                            </div>
                                         </div>
                                    }
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </header>